<li id="entry-<%= entry.id %>">
<%= link_to gravatar_for(entry.user, size: 50), entry.user %>
<span class="user"><%= link_to entry.user.name, entry.user %></span>
<strong class="title"><%=entry.title%></strong>
<span class="content"><%= entry.content %></span>
<span class="timestamp">
  <% if current_user?(entry.user)%>
  |<%= link_to "delete",entry,method: :delete,
  data:{confirm: "You sure?"}%>
  <% end %>
Posted <%= time_ago_in_words(entry.created_at) %> ago.
</span>
</li>
<%unless entry.comments.blank? %>
<div clas = "comment">
<% entry.comments.each do |f| %>
<li>
	<span class="user"><%=gravatar_for(f.user,size:30)%><%=link_to f.user.name,f.user%></span>
	<span class="content"> <%= f.content %></span>
	<span class="timestamp">Posted<%=time_ago_in_words(f.created_at)%>ago.<span>
	</li>
	<% end %>
</div>
<% end %>
<% if logged_in?%>
<li>
<div class="form-inline">
<%= form_for([entry,@comment]) do |f|%>
	<div class="row">
		<div class="col-md-8">
			<%= f.text_field :content,placeholder:"leave a comment"%>
			
		</div>
		<div class="col-md-2">
			<%= f.submit "Post",class: "btn btn-lg btn-primary" %>
			
		</div>
	</div>
	<% end %>
	</div>
	</li>
<% end %>
